.closeButton {
    text-align: right;
    cursor: pointer;
    margin: 1em;

}

.designUserName {
    margin: 1em;
    font-size: 3em;
}

.designDescription {
    margin: 2em;
}

.imgDesignDetail {
    margin-right: 6em;
    margin-left: 6em;
    margin-top: 5em;
    height: 400px;
    width: 800px;
}